<h1>Welcome to the Baker's Helper</h1>

<p>We will do baker's percentage calculation for you.</p>

<p><%= link_to 'Get started', recipes_path %>

<p>
Read about 
<a href="http://en.wikipedia.org/wiki/Baker%27s_percentage" target="_blank">
    baker's percentages
</a>
on Wikipedia.



